body{
  font-size: 18px;
  font-family: 'Libre Franklin', sans-serif;
  font-style: normal;
  color: rgb(212, 212, 212);
  margin: 0;
}

.banner{
  background-image: url("https://source.unsplash.com/biBwa6C0aEo");
  height: 200px;
  background-size: cover;
  background-position: center;
  padding: 140px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 25px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container {
  max-width: 700px;
  margin: 50px auto;
}

h1{
  color: rgb(170, 170, 170);
  font-size: 28px;
}

h2{
  color: rgb(131, 131, 131);
  font-size: 28px;
}

a{
  text-decoration: none;
  color: #000000;
  background-color: #7DFFB3;
  padding: 1px;
  font-size: 22px;
  opacity: .3;
  font-style: italic;
}
a:hover{
  opacity: 1;
  background-color: #7DFFB3;
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 768px) {
  .container {
    width: 500px;
  }
}
@media(max-width: 576px) {
  .container {
    width: 300px;
  }
}

@media(max-width: 576px) {
  .banner {
    height: 120px;
  }
}
